body{

margin: 0;  

}




#navegacion{
  
    background-color: 
}



.direccion{
display: inline-block;

}


.btn{
color: #6F6C6C;
border: 0px;
background-color:transparent ;
width: 200px;
height: 50px;
}

.btn:hover{
    background:#81FDFF;
}

    hr{

        width: 700px;
    }