body{

margin: 0; 
background-color: #dad2d1;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.direccion{
display: inline-block;
padding-left: 20px;

}


.btn{

color: #6F6C6C;
border: 0px;
background-color:transparent ;
height: 50px;
font-size: 150%;
padding-right: 10px;
padding-left: 10px;
transition: all .5s ease-in-out;

}

.btn:hover{
  color:#000000;
  transition: all .5s ease-in-out;
}



header{
 background-color: white;
height: 90px;


}

#navegacion{
margin:0;
padding-top: 10px

}


img{

width: 100%;
height: 90%;
transition:  .5s linear;

}


	
#banner:hover {filter: blur(5px);
  transition: all .5s linear;
  -webkit-box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.46);
  -moz-box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.46);
  box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.46);
}


#contenedorImg{

height: 700%;



}

.destacados{

display:inline-block;
max-width: 350px;
max-height: 350px;
background-color: white;
margin-left:  3%;
margin-right: 3%;
padding-bottom: 150px;
margin-bottom: 5%;
transition:  .2s linear;
}


.destacados:hover{
  transition:  .2s linear;
  -webkit-box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.50);
  -moz-box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.46);
  box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.46);
  transform: translateY(-3%);
  
}

hr{

height: 3px;
background-color: black;
width: 50px;
border-radius: 10px;
border: 0px
}

h1{

  margin: 0%;
}


#btn{


height: 100%;
width: 100%;


}

.btn1 button{
 font-size: 150%;
 background-color: transparent;
border: 0px;
}



a{

  text-decoration: none
}


#hr1{

  background-color: black;
  height: 1px;
width: 50%;

}

#informacion{

background-color: red;


}


#contenedor-footer{

display: flex;
width: 100%;
height:400px ;


}

#contenedor-footer-img {


width: 30%;
}

#contenedor-footer-informacion {
  background-color:#dad2d1;
  width: 70%;
  padding: 30px;
  
}


#contenedor-footer-informacion-contacto{


background-color: #dad2d1;
width: 33.3%;

}


#contenedor-footer-informacion-soporte{


  background-color: #dad2d1;
  width: 33.3%;
  
  
  }

  #contenedor-footer-informacion-comunidad{


    background-color: #dad2d1;
    width: 33.3%;
    
    }

    #contenedor-informacion{

display: flex;

height: 100%;
    }





    #hr1{

      background-color: black;
      height: 1px;
    width: 50%;
    
    }
    
    #Contenedor{
    
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    gap: 5px;
    }
    
    
    
    #Contenedor-contactos{
    
    
      width: 50%;
     border-right:1px solid;
     text-align: left;
      
    }
    
    
    
    
#Contenedor-foto{
    
    
width: 50%;
 }
    
    
#img1{
    
height: 100%;
    
    
}

#gif{

 height: 100%;
}


.h1fotter{

border-left: 5px black solid;
padding-left:  5px;

 
}

.info{
list-style-type: none;
text-align: left;
padding: 0;
     


 }

.info-li{

margin-top: 10px;


}

input{
width: 70%;
height: 30px;
  margin-bottom: 10%;
  border: 1px solid white;
}

input:hover , textarea:hover{

  border-color: black;
}

textarea{
  width: 70%;
  height: 30%;
  margin-bottom: 10%;
  resize: none;
  border: 1px solid white

}
form{

  height: 100%;
}


#boton{

background-color: transparent;
border: 1px solid;
height: 50px;
width: 100px;
}