body{

margin: 0; 
background-color: #dad2d1;


}


.direccion{
display: inline-block;
padding-left: 20px;
}


.btn{

color: #6F6C6C;
border: 0px;
background-color:transparent ;
height: 50px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 150%;
padding-right: 10px;
padding-left: 10px;
transition: all .5s ease-in-out;
}

.btn:hover{
  color:#000000;
  transition: all .5s ease-in-out;
}



header{
 background-color: white;
height: 90px;


}

#navegacion{
margin:0;
padding-top: 20px;

}


img{

width: 100%;
height: 90%;
transition:  .5s linear;

}


	
#banner:hover {filter: blur(5px);
  transition: all .5s linear;
  -webkit-box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.46);
  -moz-box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.46);
  box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.46);
}


#contenedorImg{

height: 700%;



}

.destacados{

display:inline-block;
max-width: 350px;
max-height: 350px;
background-color: white;
margin-left:  3%;
margin-right: 3%;
padding-bottom: 150px;
margin-bottom: 5%;
transition:  .2s linear;
}


.destacados:hover{
  transition:  .2s linear;
  -webkit-box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.50);
  -moz-box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.46);
  box-shadow: 6px 14px 42px -21px rgba(0,0,0,0.46);
  transform: translateY(-3%);
  opacity: 90%;
}

hr{

height: 3px;
background-color: black;
width: 50px;
}

h1{

  margin: 0%;
}


#btn{


height: 100%;
width: 100%;


}

.btn1 button{
 font-size: 150%;
 background-color: transparent;
border: 0px;
}